<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../public/css/main-style.css">
    <link rel="shortcut icon" href="../public/img/mohamed.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- start container -->
    <div class="container">
        <!-- start navbar -->
        <nav>
            <div>
                <div class="logo">
                    <h1>ToDo</h1>
                </div>
                <div class="pages">
                    <ul>
                        <li class="actiev">
                            <i class="fa-solid fa-chart-line"></i>
                            <p>dashboard</p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end navbar -->
        <!-- start header -->
        <div class="content-web">
            <header>
                <i class="fa-solid fa-list-check"></i>
                <i>></i>
                <p>Dashboard</p>
                <i>></i>
                <p class="active">Overview</p>
            <!-- end header -->
            </header>
            <!-- start content -->
            <section class="content">
                <section class="head-content">
                    <div class="heading-section">
                         <div>
                            <h2>my todo</h2>
                         </div>
                       <div class="new-todo">
                           <button class="new-task" id="newTaskBtn" type="submit"><i class="fa-solid fa-circle-plus" aria-label="Add new task to start"></i> new task</button>
                           <img src="../public/img/user.png" alt="user">
                       </div>
                    </div>
                    <div class="from-to-and-search">
                       <div class="search">
                        <input type="search" name="search" placeholder="Search"/>
                        <select name="search-in-todo">
                            <option selected>To Choose</option>
                            <option name="to-start" value="to-start">to Start</option>
                            <option name="in-progress" value="in-progress">in Progress</option>
                            <option name="completed" value="completed">completed</option>
                        </select>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                       </div>
                       <div class="from-to">
                          <input type="date" name="from" placeholder="from"/>
                          <input type="date" name="to" placeholder="to"/>
                       </div>
                    </div>
                </section>
                <section class="tasks">
                    <div class="to-start">
                        <div class="caption-to-start">
                            <div></div>
                            <p>to start</p>
                        </div>
                        <div class="tasks-to-start">
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                   <button type="submit">in progress</button>
                                </div>
                            </div>

                            <form action="/add.html" method="POST">
                                <div class="modal-new-task" id="taskModal">
                                    <div class="modal-content">
                                    <span class="close-btn">&times;</span>
                                    <p>Add New Task</p>
                                    <input name="titleTask" type="text" id="taskTitle" placeholder="Task Title">
                                    <textarea name="taskDetalis" id="taskDescription" placeholder="Task Description"></textarea>
                                    <select name="taskStatus">
                                        <option value="toStart">to start</option>
                                    </select>
                                    <button type="submit" id="saveTask">Save Task</button>
                                    </div>
                                </div>
                            </form>
                            <button class="new-task" id="newTaskBtn2" aria-label="Add new task to start">
                               <i class="fa-solid fa-circle-plus"></i> new task
                            </button>
                        </div>
                    </div>
                    <div class="in-progress">
                        <div class="caption-in-progress">
                            <div></div>
                            <p>in progress</p>
                        </div>
                        <div class="tasks-in-progress">
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                   <button type="submit">completed</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="completed">
                        <div class="caption-completed">
                            <div></div>
                            <p>completed</p>
                        </div>
                        <div class="tasks-completed">
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </section>
            <!-- end content -->
            </section>
        </div>
    <!-- start container -->
    </div>
    <script src="https://kit.fontawesome.com/270118f059.js" crossorigin="anonymous"></script>
    <script src="../public/js/main-js.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>