<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../public/css/main-style.css">
    <link rel="shortcut icon" href="../public/img/mohamed.png" type="image/x-icon">
</head>
<body>
    <!-- start container -->
    <div class="container">
        <!-- start navbar -->
        <nav>
            <div class="logo">
                <h1>ToDo</h1>
            </div>
            <div class="pages">
                <ul>
                    <li class="actiev">
                        <i class="fa-solid fa-chart-line"></i>
                        <p>dashboard</p>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end navbar -->
        <!-- start header -->
        <div class="content-web">
            <header>
                <i class="fa-solid fa-list-check"></i>
                <i>></i>
                <p>Dashboard</p>
                <i>></i>
                <p class="active">Overview</p>
            <!-- end header -->
            </header>
            <!-- start content -->
            <section class="content">
                <section class="head-content">
                    <div class="heading-section">
                         <div>
                            <h2>my todo</h2>
                         </div>
                       <div class="new-todo">
                           <button class="new-task" type="submit"><i class="fa-solid fa-circle-plus" aria-label="Add new task to start"></i> new task</button>
                           <img src="../public/img/user.png" alt="user">
                       </div>
                    </div>
                    <div class="from-to-and-search">
                       <div class="search">
                          <input type="search" name="search" placeholder="Search"/><i class="fa-solid fa-magnifying-glass"></i>
                       </div>
                       <div class="from-to">
                          <input type="date" name="from" placeholder="from"/>
                          <input type="date" name="to" placeholder="to"/>
                       </div>
                    </div>
                </section>
                <section class="tasks">
                    <div class="to-start">
                        <div class="caption-to-start">
                            <div></div>
                            <p>to start</p>
                        </div>
                        <div class="tasks-to-start">
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            <button class="new-task-to-start" aria-label="Add new task to start">
                               <i class="fa-solid fa-circle-plus"></i> new task
                            </button>
                        </div>
                    </div>
                    <div class="in-progress">
                        <div class="caption-in-progress">
                            <div></div>
                            <p>in progress</p>
                        </div>
                        <div class="tasks-in-progress">
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="completed">
                        <div class="caption-completed">
                            <div></div>
                            <p>completed</p>
                        </div>
                        <div class="tasks-completed">
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            
                            <div class="task">
                                <div class="title-task">
                                    <p>title task</p>
                                    <div class="task-opction">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="task-dropDown">
                                           <p>delete</p>
                                           <p>edit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-task">
                                    <p>
                                        llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                                    </p>
                                </div>
                                <div class="date">
                                   <p>date</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </section>
            <!-- end content -->
            </section>
        </div>
    <!-- start container -->
    </div>
    <script src="https://kit.fontawesome.com/270118f059.js" crossorigin="anonymous"></script>
    <script src="../public/js/main-js.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>