<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <link rel="stylesheet" href="../public/css.css">
</head>
<body>
    <div class="container">
        <!-- start navbar -->
        <nav>
            <div class="logo">
                <h1>ToDo</h1>
            </div>
            <div class="pages">
                <ul>
                    <li class="actiev">
                        <p>dashboard</p>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end navbar -->
        <!-- start header -->
        <header>

        </header>
        <!-- end header -->
    </div>
</body>
</html>